<div class="container mt-5">
  <h2>Application Form!</h2>
  <div class="card bg-dark text-light">
    <div class="card-body">
      <form class="row g-3" [formGroup]="form" (ngSubmit)="onSubmit()" >
        <div class="mb-3">
          <label for="appNameInput" class="form-label">AppName:</label>
          <input type="text" class="form-control" id="appNameInput" formControlName="appName" placeholder="Sample App">
          <div *ngIf="form.get('appName')?.invalid && (form.get('appName')?.dirty || form.get('appName')?.touched)" class="text-danger">
            <div *ngIf="form.get('appName')?.errors?.['required']">App Name is required.</div>
            <div *ngIf="form.get('appName')?.errors?.['minlength']">App Name must be at least 3 characters long.</div>
          </div>
           
        <div class="mb-3">
          <label for="descriptionTextarea" class="form-label">Description:</label>
          <textarea class="form-control" id="descriptionTextarea" formControlName="description" rows="3" placeholder="Enter Your text"></textarea>
          <div *ngIf="form.get('description')?.invalid && (form.get('description')?.dirty || form.get('description')?.touched)" class="text-danger">
            <div *ngIf="form.get('description')?.errors?.['required']">Description is required.</div>
            <div *ngIf="form.get('description')?.errors?.['minlength']">Description must be at least 10 characters long.</div>
        </div>
        
        <div class="mb-3">
          <label for="versionInput" class="form-label">Version:</label>
          <input type="text" class="form-control" id="versionInput" formControlName="version" placeholder="1.0">
          <div *ngIf="form.get('Version')?.errors?.['required']">Version is required.</div>
        </div>

        <div class="mb-3">
          <label for="releaseDateInput" class="form-label">Release Date:</label>
          <input type="date" class="form-control" id="releaseDateInput" formControlName="releaseDate">
          <div *ngIf="form.get('releaseDate')?.invalid && (form.get('releaseDate')?.dirty || form.get('releaseDate')?.touched)" class="text-danger">
            <div *ngIf="form.get('releaseDate')?.errors?.['invalidReleaseDate']">Release date must be before today.</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="genreSelect" class="form-label">Genre:</label>
          <select class="form-select" id="genreSelect" formControlName="genre">
            <option value="" disabled selected>Select genre</option>
            <option value="Social">Social</option>
            <option value="Games">Games</option>
            <option value="Health">Health</option>
            <option value="Women Interest">Women Interest</option> 
            <div *ngIf="form.get('genre')?.errors?.['required']">Genre is required.</div>

          </select>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Add Data!</button>
        @if (show) {
          <ngb-toast header="Click my close icon →" [autohide]="false" (hidden)="close()" class="bg-dark text-light">
          Add data successfully..!
          </ngb-toast>
        } @else {
          <p>I'll be back!</p>
        }
    </div>
  </div>

